.details-info{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.info-content{
    margin-block-start: 1;
    margin-block-end: 1;
    font-size: 1.3rem;
    margin-left: 10px;
    font-weight: lighter;
    padding-bottom: 5px;
}

.genre-card{
    border-radius: 20px;
    margin: 2px;
    padding: 5px;
    font-weight: bold;
    background-color: #f4f4f4;
    color: orange;
}

.details-overview{
    background-color: #282c34;
    color: white;
    border-radius: 15px;
    font-size: 1rem;
    padding: 10px;
    min-height: 200px;
    max-width: 500px;
    min-width: 200px;
}

.details-content{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.details-poster{
    border-radius: 15px;
    max-width: 90%;
}

.details-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

@media(max-width: 1024px){
    .details-container{
        flex-flow: column;
        align-items: center;
    }
}