.movie-card{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 300px;
    max-height: 550px;
    background-color: #282c34;
    border-radius: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.movie-card:hover{
    background-color: #a9a9a9;
}

@media(max-width: 320px){
    .movie-card{
        width: 240px;
    }
}

.movie-poster{
    border-radius: 10px;
    width: 100%;
}

.movie-title{
    color: white;
    padding-top: 8px;
}

.movie-details{
    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.movie-info{
    margin-block-start: 1;
    margin-block-end: 0;
    font-weight: lighter;
    padding-bottom: 5px;
}